*{
    --beige:  beige;
    
   
    
}
.row{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
   
   
}



  .text{
    font-size: smaller;
  }
  .col{
    border: 2px;
   background-color:var(--beige);
   margin: 0.5%;
   display: flex;
   justify-content: center;
    align-items: center;
    width: fit-content;
}
.col p {
  font-size: 300%;
}
.button{
  /* display: flex;
  justify-content: center; */
}
.btn-warning{
  /* 
    display: flex; */
 
  position: relative;
  justify-content: center;
 display: flex;
 
right: 0;
  width: 50%;
  height: fit-content;
  z-index: 100;

}
#movingButton {
  position: absolute;
  /* top: 50%; */
  /* left: 0; */
  width: 100%;

  /* overflow-x: scroll; */
  transition: transform 0.5s ease;
}

#movingButton.moving {
  transform: translateX(100px);
}
@media (max-width: 768px) {
  .container {
    font-weight: bold;
    color: blueviolet;
/*   to enable the scroll
   overflow-x: scroll;
     width: max-content;
      */
    overflow-x: scroll;
     width: max-content;
    
  }
  .col p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      /* font-size: 90% !important; */
      font-weight: bold;
      width: max-content;
      overflow-x: scroll;
      height: max-content;
     

  }
  .col{
    overflow-x: scroll;
  }

  
  
}










.container {
  min-width: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px){
  .container {
      font-weight: bold;
      color: blueviolet;
      overflow-x: scroll;
      width: auto;
  }
}

text {
  display: contents;
  font-size: smaller;
}

.col p {
    overflow-wrap: break-word;
    /* font-size: 300%; */
}
@media (max-width: 768px){
.col p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 90% !important; */
    font-weight: bold;
    width: max-content;
    overflow-x: scroll;
    height: max-content;
}
}