* {
  --beige: beige;
}
body{
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  margin-top: 2%;
  color: #102C57;
}

.text {
  display: contents;
  font-size: x-large;
}

.col {
  border: 2px;
  background-color: var(--beige);
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}



.btn-warning {
  position: fixed;
  /* top : 1%;
  left: 0; */
  justify-content: center;
  background-color: #102C57 !important;
  color: #F8F0E5;
  /* width: 100%; */
  z-index: 100;
  width: 100vw;

}



/* .container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  position: relative; 
}

button#scrollButton {
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: left 0.3s;
} */

@media (max-width: 768px) {
  .container {
    font-weight: bold;
    color: #DAC0A3;
    /*   to enable the scroll
   overflow-x: scroll;
     width: max-content;
      */
    /* overflow-x: scroll !important;
    width: max-content;
    overflow-x: scroll; */
    min-width: 768px;
    /* zoom:calc(100% * 480); */
  }
  .content{
    overflow-x: scroll;

  }
  .btn-warning {
    /* position: sticky; */
    width: 100vw;
  }
  
  .video {
    min-width: 90vw;
  } 
  
   .video-title {
    min-width: 90vw;
  
  }

  /* .embed-responsive {
    min-height: 70vh;
  } */

  /* .col p{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      width: max-content;
      overflow-x: scroll;
      height: max-content;
      display: contents;
      overflow-wrap: break-word;


  } */
  /* .col{
    overflow-x: scroll;
  } */
  /* .text {
    display: contents;
    font-size: smaller;
  } */
  /* .text {
    font-size: large;
  } */


}










/* .container {
  min-width: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px){
  .container {
      font-weight: bold;
      color: blueviolet;
      overflow-x: scroll;
      width: auto;
  }
}

text {
  display: contents;
  font-size: smaller;
}

.col p {
    overflow-wrap: break-word;
    /* font-size: 300%; */
/*}
@media (max-width: 768px){
.col p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 90% !important; */
/*  font-weight: bold;
    width: max-content;
    overflow-x: scroll;
    height: max-content;
}
} */